footer.footer
  .container
    .col-sm-12.col-md-5.title-part
      p.text-uppercase Công ty TNHH giải pháp công nghệ Eplus
      
    .col-sm-12.col-md-5.copy-part
      .copyright
        p @Copyright 2017. Designed by Eplus
