.main-nav
  .container
    nav.navbar.navbar-default
      .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          |         
          span.icon-bar
          |         
          span.icon-bar
          |         
          span.icon-bar
        |       
        a.navbar-brand.text-uppercase(href='index.html')
          span Booking 
          | App
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.text-uppercase
          li: a(href='index.html') Trang Chủ
          li: a(href='service.html') Dịch Vụ
          li: a(href='price.html') Bảng Giá
          li: a(href='contact.html') Liên Hệ
      


    
