section.index-stuff
  .row
    .col-sm-8.col-sm-push-4.col-md-6.col-md-push-4
      .col-sm-12.col-md-12.wrap-customer.text-center
        h2.service-title.text-uppercase 
          span.text-red Chức Năng 
          | Dịch Vụ
        p.index-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
        .triangle
          img.triangle-img(src="assets/img/svg/up-arrow-white.svg", alt="up-arrow")
            
      .clearfix
      .row
        .col-sm-12.col-md-12
          img.index-stuff-pic(src="assets/img/index/06.png", alt="")
          .index-content
            .tab-content
              #index-1.tab-pane.active(role='tabpanel')
                img.index-pic(src="assets/img/index/07.png", alt="content")
              #index-2.tab-pane.fade(role='tabpanel')
                img.index-pic(src="assets/img/service/content-1.png", alt="content")
              #index-3.tab-pane.fade(role='tabpanel')
                img.index-pic(src="assets/img/service/content.png", alt="content")
              #index-4.tab-pane.fade(role='tabpanel')
                img.index-pic(src="assets/img/service/content.png", alt="content")
            
          ul.nav.index-tab(role='tablist')
            li.tab-1(role='presentation')
              a(href='#index-1', aria-controls='home', role='tab', data-toggle='tab')
                img(src="assets/img/service/ser-sprite1.png", alt="")
              h5.text-uppercase Tìm chuyến bay
            li.tab-2(role='presentation')
              a(href='#index-2', aria-controls='profile', role='tab', data-toggle='tab')
                img(src="assets/img/service/ser-sprite2.png", alt="")
              h5.text-uppercase Quản lý người dùng
            li.tab-3(role='presentation')
              a(href='#index-3', aria-controls='messages', role='tab', data-toggle='tab')
                img(src="assets/img/service/ser-sprite3.png", alt="")
              h5.text-uppercase Thống kê
            li.tab-4(role='presentation')
              a(href='#index-4', aria-controls='settings', role='tab', data-toggle='tab')
                img(src="assets/img/service/ser-sprite4.png", alt="")
              h5.text-uppercase Quản trị
