section.index-contact
  .row
    .col-sm-6
      h2.service-title.text-uppercase 
        span.text-red Giới Thiệu 
        | Dịch Vụ
      p.index-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
      .triangle
        img.triangle-img(src="assets/img/svg/up-arrow-white.svg", alt="up-arrow")
          
      p Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
      
      p Bạn không thể kiểm soát được doanh nghiệp nếu bạn không biết chuyện gì đang xảy ra với nó. Với những con số tồi tệ, hoặc chả có con số nào, một công ty sẽ như bị mù đường, và điều này lúc nào cũng xảy ra. Tại sao ư?
      
      p Vì một lý do, đó là một quan niệm sai phổ biến - và tai hại - rằng một công ty kế toán thuê ngoài vốn dĩ để giải quyết vấn đề thuế má sẽ trông chừng được công ty.
      
      p Thực ra, đây là việc của giám độc tài chính, nhưng lại là một trong nhiều chiếc mũ chụp tạm lên đầu chủ doanh nghiệp cho đến khi công ty thuê được đúng người làm việc này.
          
    .col-sm-6
      img.service-stuff-1(src="assets/img/index/05.png", alt="service")
