section.index-price
  .col-md-6.col-md-push-3.wrap-service.text-center
    h2.service-title.text-uppercase 
      span.text-red Bảng Giá 
      | Dịch Vụ
    p.index-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow-white.svg", alt="up-arrow")
        
  .clearfix
  .service-table.text-center
    .row
      .col-sm-4.col-md-4.table-1
        .thumbnail
          img(src='assets/img/price-table/sprite-01.png', alt='graphic')
            
          .caption
            h3.text-uppercase.text-blue Trình Duyệt
            p 120.000 / tháng
            .triangle
              img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
              
            ul.list-unstyled
              li Phục vụ tận tình
              li Hưởng toàn bộ tính năng web
              li Hỗ trợ toàn bộ
              li Chạy quảng cáo miễn phí
              li Bảo mật cao
              
            a.btn.btn-accent.text-uppercase(href="#") Thuê Ngay
              
      .col-sm-4.col-md-4.table-2
        .thumbnail
          img.svg(src='assets/img/price-table/sprite-02.png', alt='graphic')
          |       
          .caption
            h3.text-uppercase.text-red Ứng dụng và trình duyệt
            p 220.000 / tháng
            .triangle
              img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
              
            ul.list-unstyled
              li Phục vụ tận tình
              li Hưởng toàn bộ tính năng web
              li Hỗ trợ toàn bộ
              li Chạy quảng cáo miễn phí
              li Bảo mật cao
              
            a.btn.btn-accent-red.text-uppercase(href="#") Thuê Ngay
            
      .col-sm-4.col-md-4.table-3
        .thumbnail
          img(src='assets/img/price-table/sprite-03.png', alt='graphic')
          |       
          .caption
            h3.text-uppercase.text-blue Ứng dụng
            p 100.000 / tháng
            .triangle
              img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
              
            ul.list-unstyled
              li Phục vụ tận tình
              li Hưởng toàn bộ tính năng web
              li Hỗ trợ toàn bộ
              li Chạy quảng cáo miễn phí
              li Bảo mật cao
              
            a.btn.btn-accent.text-uppercase(href="#") Thuê Ngay
