section.index-table.contact-table
  .wrap-contact-table.text-center
    .row
      .col-sm-4.table-1
        img(src="assets/img/contact-page/maker-01.jpg", alt="maker")
        h3.text-uppercase Address
        p 935-994 Tortor. Street Santa Rosa
        
      .col-sm-4.table-2
        img(src="assets/img/contact-page/maker-02.jpg", alt="maker")
        h3.text-uppercase Phone
        p +88 3333 6789
        p +90 3242 9288
        
      .col-sm-4.table-3
        img(src="assets/img/contact-page/maker-03.jpg", alt="maker")
        h3.text-uppercase Email
        p hello@eplus.com
        
