section.service-carousel.index-carousel
  .col-md-6.col-md-push-3.wrap-customer.text-center
    h2.service-title.text-uppercase 
      span.text-red Thư viện 
      | Ứng dụng
    p.index-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow-white.svg", alt="up-arrow")
        
  .clearfix
    
  .row
    .owl-carousel.owl-theme.carousel-2
      .item
        img(src="assets/img/service/carousel-2.png", alt="carousel")
      .item
        img(src="assets/img/service/carousel-1.png", alt="carousel")
      .item
        img(src="assets/img/service/carousel-2.png", alt="carousel")
      .item
        img(src="assets/img/service/carousel-1.png", alt="carousel")
      .item
        img(src="assets/img/service/carousel-2.png", alt="carousel")
      .item
        img(src="assets/img/service/carousel-2.png", alt="carousel")
      .item
        img(src="assets/img/service/carousel-1.png", alt="carousel")
