section.index-rent
  .row
    .col-md-6.wrap-rent
      h3.text-uppercase Cho thuê app máy bay 
        span.text-red giá rẻ
      p Bạn muốn mua máy bay? Đến với chúng tôi để được mua ứng dụng giá rẻ, chăm sóc tận răng từng chức năng, bảo hành  hằng tháng.
      a.btn.btn-accent-red.btn-lg(href="#") Thuê Ngay
      
