section.index-video
  .col-md-6.col-md-push-3.wrap-customer.text-center
    h2.service-title.text-uppercase 
      span.text-red Video 
      | Dịch Vụ
    p.index-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow.svg", alt="up-arrow")
  
  .clearfix  
  .row
    .col-md-12
      iframe(width='860', height='450', src='https://www.youtube.com/embed/EWQF91YETFM?ecver=1', frameborder='0', allowfullscreen='')

    
