// Carousel Global
.carousel-3, .carousel-4
  position: relative

  &:hover .index-arrow
    opacity: 1

  &:hover .index-left-arrow
    left: 0

  &:hover .index-right-arrow
    right: 0

  .index-arrow
    opacity: 0
    position: absolute
    top: 50%
    width: 50px
    z-index: 1000
    transition: all .2s ease-in-out

  .index-left-arrow
    left: -5%
    transform: rotateY(180deg)

  .index-right-arrow
    right: -5%
