// Carousel Global
.carousel-2, .carousel-3, .carousel-4
  position: relative


  &:hover .index-arrow
    opacity: 1

  &:hover .index-left-arrow
    left: 0

  &:hover .index-right-arrow
    right: 0

  .index-arrow
    opacity: 0
    position: absolute
    top: 50%
    width: 50px
    z-index: 1000
    transition: all .2s ease-in-out

  .index-left-arrow
    left: -5%

  .index-right-arrow
    right: -5%
    transform: rotateY(180deg)

@media (min-width: $screen-md-min)
  .owl-item
    margin: 0 auto !important
    padding: 50px 0
    opacity: 0.6 !important

    img
      width: 75% !important
      margin-top: 25px !important

  .owl-item.center
    opacity: 1 !important
    img
      margin-top: 40px !important
      transform: scale(1.2)
