section.customer
  .col-md-6.col-md-push-3.wrap-customer.text-center
    h2.service-title.text-uppercase 
      span.text-red Khách hàng 
      | nhận xét
    p.service-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow.svg", alt="up-arrow")
        
  .clearfix
    
  .wrap-owl-carousel
    .owl-carousel.carousel-1
      .row.item(data-hash="1")
        .col-sm-5.col-md-4.col-lg-3
          img(src="assets/img/carousel/pic-02.jpg", alt="")
        .col-sm-7.col-md-8.col-lg-9
          h3.name.text-uppercase Huỳnh Minh Trung
          .triangle
            img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
          p.content "Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo"

      .row.item(data-hash="2")
        .col-sm-5.col-md-4.col-lg-3
          img(src="assets/img/carousel/pic-03.jpg", alt="")
        .col-sm-7.col-md-8.col-lg-9
          h3.name.text-uppercase Huỳnh Minh Trung
          .triangle
            img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
          p.content "Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo"
          
      .row.item(data-hash="3")
        .col-sm-5.col-md-4.col-lg-3
          img(src="assets/img/carousel/pic-04.jpg", alt="")
        .col-sm-7.col-md-8.col-lg-9
          h3.name.text-uppercase Huỳnh Minh Trung
          .triangle
            img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
          p.content "Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo"
          
      .row.item(data-hash="4")
        .col-sm-5.col-md-4.col-lg-3
          img(src="assets/img/carousel/pic-05.jpg", alt="")
        .col-sm-7.col-md-8.col-lg-9
          h3.name.text-uppercase Huỳnh Minh Trung
          .triangle
            img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
          p.content "Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo"
          
      .row.item(data-hash="5")
        .col-sm-5.col-md-4.col-lg-3
          img(src="assets/img/carousel/pic-01.jpg", alt="")
        .col-sm-7.col-md-8.col-lg-9
          h3.name.text-uppercase Huỳnh Minh Trung
          .triangle
            img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
          p.content "Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo"
          
      .row.item(data-hash="6")
        .col-sm-5.col-md-4.col-lg-3
          img(src="assets/img/carousel/pic-06.jpg", alt="")
        .col-sm-7.col-md-8.col-lg-9
          h3.name.text-uppercase Huỳnh Minh Trung
          .triangle
            img.triangle-img(src="assets/img/svg/up-arrow-red.svg", alt="up-arrow")
          
          p.content "Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo"
          
    .direction   
      .row    
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          a.url(href='#1')
            img(src="assets/img/carousel/pic-02.jpg", alt="")
            span.line-1
            span.line-2
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          a.url(href='#2')
            img(src="assets/img/carousel/pic-03.jpg", alt="")
            span.line-1
            span.line-2
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          a.url(href='#3')
            img(src="assets/img/carousel/pic-04.jpg", alt="")
            span.line-1
            span.line-2
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          a.url(href='#4')
            img(src="assets/img/carousel/pic-05.jpg", alt="")
            span.line-1
            span.line-2
        .clearfix.visible-sm.visible-md
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          a.url(href='#5')
            img(src="assets/img/carousel/pic-07.jpg", alt="")
            span.line-1
            span.line-2
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          a.url(href='#6')
            img(src="assets/img/carousel/pic-06.jpg", alt="")
            span.line-1
            span.line-2
          
