.container
  .info
    h3.info-title.text-uppercase Liên Hệ
    .row
      .bread.col-md-3
        ol.breadcrumb.text-uppercase
          li
            a(href='index.html') Trang Chủ
          li
            a(href='contact.html') Liên Hệ
