section.contact-table
  .wrap-contact-table.text-center
    .row
      .col-sm-4.table-1
        .wrap-table
          img(src="assets/img/contact-page/maker-01.png", alt="maker")
          h3.text-uppercase Address
          p 935-994 Tortor. Street Santa Rosa
        
      .col-sm-4.table-2
        .wrap-table
          img(src="assets/img/contact-page/maker-02.png", alt="maker")
          h3.text-uppercase Phone
          p +88 3333 6789
          p +90 3242 9288
        
      .col-sm-4.table-3
        .wrap-table
          img(src="assets/img/contact-page/maker-03.png", alt="maker")
          h3.text-uppercase Email
          p hello@eplus.com
        
  .row
    .col-sm-12
      img.contact-map(src="assets/img/contact-page/map.jpg", alt="map")
