section.contact-us
  .col-md-6.col-md-push-3.wrap-customer.text-center
    h2.service-title.text-uppercase 
      span.text-red Liên Hệ 
      | Chúng Tôi
    p.service-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow.svg", alt="up-arrow")
  
  .clearfix  
  .row
    .col-sm-6
      p Lý giải về cơn sốt mỳ cay, chị Thúy cho rằng, đây là một món ăn mới, mang phong cách ẩm thực Haluy vốn rất được lòng giới trẻ Việt Nam
      p Vì vậy, ngay từ khi mới du nhập, nó đã nhận được sự quan tâm của nhiều người. Cùng với đó là chiến dịch quảng cáo rầm rộ của các hãng mỳ cay, sức hấp dẫn của việc thách đố các cấp độ cay khác nhau...
      p Tất cả đã khiến thực khách phải tò mò, muốn ăn thử một lần cho biết. Tạo thành cơn sốt rầm rộ từ Nam ra Bắc nhưng mỳ cay 7 cấp độ cũng chịu chung số phận như nhiều trào lưu khác - nhanh phát mà cũng nhanh tàn.
      
    .col-sm-6
      img.contact-showcase(src="assets/img/contact-page/show-case.jpg", alt="")
