.container
  .info
    h3.info-title.text-uppercase Dịch Vụ
    .row
      .bread.col-md-3
        ol.breadcrumb.text-uppercase
          li
            a(href='#') Trang Chủ
          li
            a(href='#') Dịch Vụ
