section.service-exam.service-exam-1
  .row.hidden-xs.hidden-sm
    .col-sm-6.col-md-3
      img.service-exam-pic(src="assets/img/service/exa-01.jpg", alt="service")
        
    .col-sm-6.col-md-3
      img.service-exam-pic(src="assets/img/service/exa-02.jpg", alt="service")
        
    .clearfix.visible-sm
    .col-sm-6.col-md-3
      img.service-exam-pic(src="assets/img/service/exa-03.jpg", alt="service")
        
    .col-sm-6.col-md-3
      img.service-exam-pic(src="assets/img/service/exa-04.jpg", alt="service")
        
  .owl-carousel.owl-theme.carousel-3.hidden-md.hidden-lg
    .item
      img.service-exam-pic(src="assets/img/service/exa-01.jpg", alt="service")
    .item
      img.service-exam-pic(src="assets/img/service/exa-02.jpg", alt="service")
    .item
      img.service-exam-pic(src="assets/img/service/exa-03.jpg", alt="service")
    .item
      img.service-exam-pic(src="assets/img/service/exa-04.jpg", alt="service")
        
      
