section.service-func-service
  .col-md-6.col-md-push-3.wrap-customer.text-center
    h2.service-title.text-uppercase 
      span.text-red Chức Năng 
      | Dịch Vụ
    p.service-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow.svg", alt="up-arrow")
  
  .clearfix  
  .row
    .col-xs-6.col-sm-4
      .row
        .col-xs-12.col-sm-12.col-md-12
          ul.nav.service-func-tab.text-center(role='tablist')
            li(role='presentation')
              a(href='#a1', aria-controls='a1', role='tab', data-toggle='tab' rel="popover" data-placement="top" data-title="Tìm vé máy bay" data-content="Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo")
                img(src="assets/img/service/ser-sprite1.png", alt="")
              h3.text-red.text-uppercase.hidden-xs Tìm vé máy bay
              p.hidden-xs Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
      
            li(role='presentation')
              a(href='#a2', aria-controls='a2', role='tab', data-toggle='tab' rel="popover" data-placement="top" data-title="Quản lý người dùng" data-content="Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo")
                img(src="assets/img/service/ser-sprite2.png", alt="")
              h3.text-red.text-uppercase.hidden-xs Quản lý người dùng
              p.hidden-xs Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
          
    .col-xs-6.col-sm-4.col-sm-push-4
      .row
        .col-xs-12.col-sm-12.col-md-12
          ul.nav.service-func-tab.text-center(role='tablist')
            li(role='presentation')
              a.link-3(href='#a3', aria-controls='a3', role='tab', data-toggle='tab' rel="popover" data-placement="top" data-title="Thống Kê" data-content="Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo")
                img(src="assets/img/service/ser-sprite3.png", alt="")
              h3.text-red.text-uppercase.hidden-xs Thống Kê
              p.hidden-xs Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
            
            li(role='presentation')
              a.link-4(href='#a4', aria-controls='a4', role='tab', data-toggle='tab' rel="popover" data-placement="top" data-title="Quản Trị" data-content="Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo")
                img(src="assets/img/service/ser-sprite4.png", alt="")
              h3.text-red.text-uppercase.hidden-xs Quản Trị
              p.hidden-xs Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
              
    .col-xs-12.col-sm-4.col-sm-pull-4
      .wrap-box
        img.service-phone(src="assets/img/service/03.png", alt="")
        .wrap-content
          .tab-content
            #a1.tab-pane.active(role='tabpanel')
              img.content-pic(src="assets/img/service/content.png", alt="content")
            #a2.tab-pane.fade(role='tabpanel')
              img.content-pic(src="assets/img/service/content-1.png", alt="content")
            #a3.tab-pane.fade(role='tabpanel')
              img.content-pic(src="assets/img/service/content.png", alt="content")
            #a4.tab-pane.fade(role='tabpanel')
              img.content-pic(src="assets/img/service/content.png", alt="content")
            
        
