section.service-exam
  .col-md-6.col-md-push-3.wrap-customer.text-center
    h2.service-title.text-uppercase 
      span.text-red Thư Viện 
      | Trình Duyệt
    p.service-text Hình thức luôn phản ánh chứ không che đậy được nội dung bên trong. Doanh nghiệp nếu không xuất phát từ chiến lược thì hình thức chỉ là cái vỏ giả tạo
    .triangle
      img.triangle-img(src="assets/img/svg/up-arrow.svg", alt="up-arrow")
  
  .clearfix  
  .row.hidden-xs.hidden-sm
    .col-sm-6.col-md-6
      img.service-exam-pic(src="assets/img/service/exa-01.jpg", alt="service")
        
    .col-sm-6.col-md-6
      img.service-exam-pic(src="assets/img/service/exa-01.jpg", alt="service")
      
